body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.icon-container {
    margin-top: 20px;
}

#school-icon {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    transition: transform 0.3s;
}

#school-icon:hover {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}
